body {
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 2;
}

.loader__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: #fff;
  z-index: 1;
  -webkit-animation: loader 4s forwards;
          animation: loader 4s forwards;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.t1 {
  fill: #99e2d0;
  stroke: #ff79da;
}

.t2 {
  fill: url(#grad1);
}

.t3 {
  fill: #ff79da;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 135px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #99e2d0;
  -webkit-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.13);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 13px;
}

.lds-ellipsis div:nth-child(2) {
  left: 13px;
}

.lds-ellipsis div:nth-child(1) {
  -webkit-animation: lds-ellipsis1 0.8s infinite;
          animation: lds-ellipsis1 0.8s infinite;
}

.lds-ellipsis div:nth-child(2) {
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(3) {
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(4) {
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(5) {
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 37px;
}

.lds-ellipsis div:nth-child(4) {
  left: 61px;
}

.lds-ellipsis div:nth-child(5) {
  left: 85px;
}

.lds-ellipsis div:nth-child(6) {
  left: 109px;
  -webkit-animation: lds-ellipsis3 0.8s infinite;
          animation: lds-ellipsis3 0.8s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=main.css.map */