.header__image {
  &--1 {
    background-image: url(/public/img/restaurants/LaNoteEnchantee.jpg);
    background-position: 0px -100px;
    background-size: 100%;
  }
}

.menu {
  &--1 {
    margin-top: -25.3rem;
  }
}
