.header__image {
  &--1 {
    overflow: hidden;
    & img {
      @include disposition-image;
      object-position: 0.2rem -10rem;
      z-index: -1;
    }
  }
}

.menu {
  &--1 {
    margin-top: -25.3rem;
  }
}
