*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px défini pour 1rem
  font-size: 10px;
}

body {
  box-sizing: border-box;
  @extend %Roboto;
  width: 100%;
  max-width: 1440px;
  margin: 0;
}
