@media screen and (min-width: 480px) and (max-width: 779px) {
  .header__image {
    & img {
      object-position: -2px -13rem;
    }
  }
  .header__image--1 {
    & img {
      object-position: -2px -20rem;
    }
  }
  main {
    & .menu {
      margin-top: -16rem;
    }
    & .menu--1 {
      margin-top: -30rem;
    }
  }
}
@media screen and (min-width: 779px) and (max-width: 1024px) {
  .disposition {
    grid-template-rows: 33rem 36rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .disposition {
    grid-template-rows: 47rem 36rem;
  }
}
@media screen and (min-width: 1023px) and (max-width: 2560px) {
  main {
    & .menu {
      width: 250%;
    }
  }
}

@media screen and (min-width: 779px) and (max-width: 2560px) {
  .header__logo {
    & .PhotoMenu {
      width: 31.3rem;
    }
  }
  .header__image {
    border-radius: 2.5rem 0 0 2.5rem;
    @include nav-shadow;
    border: 8px solid $black;
    border-right: none;
    &--1 {
      height: 100%;
      & img {
        object-position: -2px bottom;
      }
    }
    &--3 {
      & img {
        object-position: -2px bottom;
      }
    }
  }
  main {
    & .menu {
      margin-top: -36rem;
      border-radius: 0;
      display: grid;
      grid-template-rows: 15rem;
      grid-gap: 3rem;
      padding: 0 4rem 0 2rem;
      grid-template-columns: 50% 50%;
      &__titre {
        grid-column: 2;
        margin-top: 5rem;
        transform: translateX(-50%);
      }
    }
  }
  .art {
    &--1 {
      grid-column: 1;
      grid-row: 2;
    }
    &--2 {
      grid-column: 2;
      grid-row: 2;
    }
    &--3 {
      grid-column: 1;
      grid-row: 3;
      transform: translateX(50%);
    }
    &__list--bouton {
      grid-column: 1;
      grid-row: 4;
      transform: translateX(50%);
    }
  }
}

/*.container {
  &__effect {
    & .place {
      @media screen and (min-width: 375px) and (max-width: 385px) {
        transition: transform 0.7s cubic-bezier(1, 0.05, 0.61, 0.94);
      }
      @media screen and (min-width: 385px) and (max-width: 425px) {
        transition: transform 0.7s cubic-bezier(0.51, 0.04, 0.55, 1.03);
      }
      & i {
        @media screen and (min-width: 385px) and (max-width: 425px) {
          transition: transform 0.3s ease-in 400ms;
        }
      }
    }
    &:hover {
      & .art__list {
        &--titre {
          @media screen and (max-width: 385px) {
            width: 64%;
          }
          @media screen and (min-width: 385px) and (max-width: 425px) {
            width: 66%;
          }
          @media screen and (min-width: 412px) and (max-width: 425px) {
            width: 70%;
          }
        }
      }
      & .place {
        @media screen and (max-width: 375px) {
          transform: translateX(-5%);
        }
        @media screen and (min-width: 375px) and (max-width: 412px) {
          transform: translateX(1%);
        }
      }
    }
  }
}*/
