%Roboto {
  font-family: "Roboto", sans-serif;
}

%Shrikhand {
  font-family: "Shrikhand", cursive;
}

form {
  & label {
    font-size: $size-1 * 1.7;
  }
  & input[type="search"] {
    font-weight: bold;
    font-size: $size-1 * 1.5;
  }
}

.description {
  & h1 {
    font-size: $size-1 * 2.4;
  }
  & p {
    font-size: $size-1 * 1.8;
  }
  & button {
    font-size: $size-1 * 1.6;
    font-weight: normal;
    letter-spacing: 0.3px;
  }
}

nav {
  font-size: $size-1 * 1.5;
}
.nav__fonction {
  & h4 {
    font-size: 1.8rem;
  }
  & .fas {
    font-size: 2rem;
    color: $dark-gray;
    &:hover {
      color: $color-primary;
    }
  }
  & .fa-list-ul {
    padding-top: 0.2rem;
  }
}

.card {
  & h2 {
    font-size: 2.5rem;
  }
  & a {
    font-size: 1.45rem;
  }
  & p {
    font-size: 1.6rem;
    letter-spacing: 0.3px;
    font-weight: lighter;
  }
  & i {
    font-size: 2.6rem;
  }
}

.new {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
}

.pied-page--text {
  & li {
    font-size: 1.5rem;
  }
  & i {
    font-size: 1.2rem;
  }
}

// La palette du goût

.header__logo {
  & span {
    font-size: 1.8rem;
  }
}

.menu {
  & h1 {
    font-size: 2.8rem;
    @extend %Shrikhand;
  }
}

.art {
  &__titre {
    & h3 {
      font-size: 1.7rem;
      font-weight: lighter;
    }
  }
  &__list--titre {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    & h4 {
      font-size: 1.6rem;
      letter-spacing: 0.1px;
    }
    & p {
      font-size: 1.5rem;
      font-weight: lighter;
    }
  }
  &__list {
    & span {
      font-weight: bolder;
    }
    & i {
      font-size: 2.4rem;
    }
    & .effect--1 {
      font-size: 1.54rem;
    }
    & .trunk {
      font-size: 1.7rem;
      font-weight: lighter;
    }
  }
}

.form {
  &__heading {
    font-size: 2.7rem;
    @extend %Shrikhand;
  }
  &__field input {
    font-size: 1.5rem;
    @extend %Roboto;
  }
  &__field textarea {
    font-size: 1.5rem;
    @extend %Roboto;
  }
}
