.container {
  &__effect {
    width: 100%;
    height: 4.5rem;
    display: flex;
    margin: 1.4rem;
    text-decoration: none;
    color: $black;
    p {
      justify-content: flex-end;
    }
    & .art__list {
      &--titre {
        width: 100%;
        transition: width 0.7s ease-in-out;
      }
    }
    & .place {
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      & i {
        width: 100%;
        height: 32%;
        margin: 0;
        color: $white;
        transform: rotate(90deg);
        transition: transform 0.22s ease-in 250ms;
      }
    }
    &:hover {
      & .art__list {
        &--titre {
          width: 100%;
        }
      }
      & .place {
        transform: translateX(-6.5rem);
        & i {
          transform: rotate(360deg);
        }
      }
    }
  }
}
