.container {
  &__effect {
    width: 100%;
    height: 4.5rem;
    display: flex;
    margin: 1.4rem;
    text-decoration: none;
    color: $black;
    p {
      justify-content: flex-end;
    }
    & .art__list {
      &--titre {
        width: 100%;
        transition: width 0.7s ease-in-out;
      }
    }
    & .place {
      transform: translateX(0);
      transition: transform 0.7s ease-in-out;
      & i {
        width: 100%;
        height: 32%;
        margin: 0;
        padding: 0;
        top: 24px;
        left: 20px;
        color: $white;
        transform: rotate(90deg);
        transition: transform 0.3s ease-in 400ms;
      }
    }
    &:hover {
      & .art__list {
        &--titre {
          width: 63%;
        }
      }
      & .place {
        transform: translateX(-1px);
        & i {
          transform: rotate(360deg);
          //transform-origin: 50% 50%;
        }
      }
    }
  }
}

@keyframes tronk {
  0% {
    transform: translateX(0px);
  }
  19% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(65px);
  }
}
