.container {
  &__effect {
    width: 100%;
    height: 4.5rem;
    display: flex;
    margin: 1.4rem;
    text-decoration: none;
    color: $black;
    p {
      justify-content: flex-end;
    }
    & .art__list {
      &--description {
        width: 100%;
        transition: width 1.4s cubic-bezier(0, 1.09, 0.19, 0.96) 200ms;
        & .trunk {
          width: 90%;
          transition: width 1.4s cubic-bezier(0, 1.09, 0.19, 0.96) 200ms;
        }
      }
      &--titre {
        width: 100%;
        & h4 {
          width: 100%;
          transition: width 1.4s cubic-bezier(0, 1.09, 0.19, 0.96) 200ms;
        }
      }
    }
    & .place {
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      & i {
        width: 100%;
        height: 32%;
        margin: 0;
        color: $white;
        transform: rotate(90deg);
        transition: transform 0.22s ease-in 250ms;
      }
    }
    &:hover {
      & .art__list {
        &--titre {
          width: 100%;
        }
      }
      & .place {
        transform: translateX(-6.5rem);
        & i {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.art__list {
  animation: box-shadow-drop 1.2s both;
}

@keyframes box-shadow-drop {
  0% {
    margin: 1.4rem;
  }
  50% {
    margin: 2rem 1.4rem 2rem 1.4rem;
  }
  100% {
    margin: 1.4rem;
  }
}

.container-scale {
  animation: box-scaling 1.2s backwards;
}

.art__list:nth-of-type(1) {
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 900ms both;
}
@for $i from 2 through 5 {
  .art__list:nth-of-type(#{$i}) {
    animation: fade-in
      0.8s
      cubic-bezier(0.39, 0.575, 0.565, 1)
      ($i * 200ms) +
      700ms
      both;
  }
}

@keyframes box-scaling {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
