@mixin disposition {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@mixin form-shadow {
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.75) inset;
}

@mixin padding-button {
  padding: $size-1 * 2;
  padding-left: $size-1 * 2.8;
  padding-right: $size-1 * 2.8;
  margin-bottom: $size-1 * 5.7;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
}

@mixin padding-h2 {
  padding-top: $size-1 * 4.7;
  padding-bottom: $size-1 * 3.2;
  padding-left: $size-1 * 2;
}

@mixin nav-shadow {
  box-shadow: 0px 5px 10px 0px $gray;
}
