%Roboto {
  font-family: "Roboto", sans-serif;
}
%Shrikhand {
  font-family: "Shrikhand", cursive;
}

$color-primary: rgb(147, 86, 220);
$color-secondary: #ff79da;
$color-accent: #99e2d0;
$gray: darken(#fff, 10%);
$light-black: darken(#fff, 80%);
$dark-white: lighten(#000, 97%);
$dark-gray: lighten(#000, 50%);

$size: 6.3rem;
$size-1: 1rem;
$size-2: 1rem * 10;
