%Roboto {
  font-family: "Roboto", sans-serif;
}
%Shrikhand {
  font-family: "Shrikhand", cursive;
}

$color-primary: rgb(147, 86, 220);
$color-secondary: #ff79da;
$color-secondary-light: lighten($color-secondary, 8%);
$color-primary-light: lighten($color-primary, 8%);
$color-accent: #99e2d0;
$mint: #008766;
$mint-light: #99e2d0;
$gray: darken(#fff, 10%);
$black: #000;
$white: #fff;
$light-black: darken($white, 80%);
$light-white: darken($white, 3%);
$dark-white: lighten($black, 97%);
$dark-gray: lighten($black, 50%);
$dark-obscure: lighten($black, 21%);
$dark-gray-opacity: opacify(rgba($dark-gray, 0.1), 0.2);

$size: 6.3rem;
$size-1: 1rem;
$size-2: 1rem * 10;
